:root {
    --bg-color-dark: #132337;
    --text-color-title: #3D3F4B;
    --text-color-subtitle: #525464;
    --text-color-p: #616173;
    --highlight1: #6D8AB9;
    --font-title: Ubuntu;
    --font: Oxygen;
}

body {
    font-family: "Oxygen", sans-serif;
    color: var(--text-color-p);
    -webkit-font-smoothing: antialiased;
    overflow-x:hidden;

}

/*=================================================================
  Basic Setup
==================================================================*/

::-moz-selection {
    /* Code for Firefox */
    color: #fff;
    background: var(--bg-color-dark);
}

::selection {
    color: #fff;
    background: var(--bg-color-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: "Ubuntu", sans-serif;
    color: var(--text-color-title);
}

p {
    font-family: "Oxygen", sans-serif;
    color: var(--text-color-p);
}

[scroll-behavior=smooth] {
    scroll-behavior: smooth;
}


.no-padding {
    padding: 0 !important;
}

.inline-block {
    display: inline-block;
}

.btn {
    cursor: pointer;
}

.btn.focus,
.btn:focus {
    box-shadow: none;
}

figure {
    margin: 0;
}

a {
    transition: all .2s ease-in 0s;
}

iframe {
    border: 0;
}

a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
}

a:focus,
a:hover {
    color: var(--bg-color-1);
}


.mt-20 {
    margin-top: 20px;
}

.section {
    padding-top:8%;
    // padding-bottom: 6%;
}

.single-section{
    padding-top: 2%;
}

@media (max-width: 480px) {
    .section {
        padding: 20px 0;
    }
}

@media (max-width: 768px) {
    .section {
        padding: 35px 0;
    }
}

.section-sm {
    padding: 70px 0;
}

.section-xs {
    padding: 50px 0;
}

.btn:focus {
    color: #ddd;
}

#home {
    position: relative;
}

.btn.active:focus,
.btn:active:focus,
.btn:focus {
    outline: 0;
}

.parallax-section {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home {
    position: relative;
}
