/*=================================================================
  Partners section
// ==================================================================*/

.partners .title{
    margin-bottom: 4%;
}

.partners .logo{
    margin-bottom: 40px;    
    max-height: 150px;
    max-width: 250px;
}
