/*=================================================================
  Partners section
// ==================================================================*/

.partners .title{
    margin-bottom: 4%;
}

.partners .logo{
    margin-bottom: 40px;    
    height: 150px;
}
