{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.banner.banner.enable }}
{{ with $data.banner.banner }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<section id="home" class="hero-area" style='background-image: url("{{ .bg_image_webp | absURL }}")'>
	<!-- this image is for trigger this section fallback background image -->
	<img style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .bg_image | absURL }})'" src="{{ .bg_image_webp | absURL }}" />

	<img class="drone" src="{{ .bg_drone | absURL }}" />

	<div class="container">
		<div class="row justify-content-md-right">

 				{{ if .icon }}
				<div class="video-button">
					<i class="{{ .icon }}"></i>
				</div>
				{{ end }}
				<!-- <img class="banner_logo" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ .fg_image | absURL }})'" src="{{ .fg_image | absURL }}" /> -->
				<div class="col-md-9">
					<h2 class="hero-subtitle">{{ .subtitle | markdownify }}</h2>
					<h3 class="hero-content">{{ .content | markdownify }}</h3>
					{{ if .button.enable }}
					{{ with .button }}
					<a href="{{ .link }}" class="btn btn-transparent page-scroll">{{ .label }}</a>
					{{ end }}
					{{ end }}
				</div>
				
		</div>
	</div>
	
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}
{{end}}
